body{
  background-color: rgb(199, 148, 81);
background-position: 95px;
    justify-content: center;
    display: flex;
    /* width: 920px; */
}
form{
    background-color: rgb(105, 50, 17);
    width: 410px;
    padding: 40px;
    justify-content: center;
    margin: 40px;
}
input{
    width: 90
}
.menu{
    font-style: oblique;
    text-align: center;
    background-color: rgb(46, 22, 3);
    font-size:larger
}


